version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "monthly"
      
  - package-ecosystem: "github-actions"
    directory: ".github"
    schedule:
      interval: "monthly"

  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "monthly"
    regex-managers:
      - file: "Dockerfile"
        matchers:
          - pattern: 'ARG COREDNS_VERSION=(?<version>.*)'
        dependency-name: "coredns/coredns"
        versioning-template: "v<version>"